#animais {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .animal {
        margin: 1%;
        /* border: 1px solid #333; */
        text-align: center;
        background: #f60;
        border-radius: 20px;
        }

    @media only screen and (max-width: 960px) {
        #animais {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            }
        }







        